.app-menu {
    // Vars

    // Support

    // Module
    & {
        //
    }

    // Facets

    // States
}
.menu-item {
    color: green !important;
    max-width: 250px;
    word-wrap: break-word;
}
